#card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardzinho img {
    width: 195px;
    height: 244px;  
    border-radius: 5px;
    position: relative;
}

.cardzinho {
    /* border: 1px solid black; */
    width: 195px;
    height: 244px;
    margin: 10px;
}

p {
    color: #fff;
    position: relative;
    bottom: 100px;
    text-shadow: 2px 2px 4px #000;
    font-family: 'Montserrat', sans-serif;
}